.TimeZonesWrapper {
    height: 100%;
    width: 90%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    margin: 20px auto;
}

.TimeZonesWrapper .CreateNew {
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

.TimeZonesWrapper .CreateNew a {
    text-decoration: none;
}

.TimeZone {
    height: 100%;
    width: 90%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px;
}

.TimeZone div {
    padding: 3px;
}