body {
  margin: 0;
  padding: 0;
  font-family: Shutterstock-DINNextW1G,Shutterstock-NotoSans,Shutterstock-NotoSansThai,Shutterstock-NotoSansJp,Shutterstock-NotoSansKo,Shutterstock-NotoSansSc,Shutterstock-NotoSansTc,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}