.ErrorWrapper {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}

.Errors {
    list-style-type: none;
}

.ErrorsStyled {
    list-style-type: circle;
}

.Errors li {
    color: red;
    text-decoration: none;
}